.body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.fondo{
    background-image: url(../img/medicina_humana.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
}
.lbl_rut {
    color: #018E97;
    left: 5%;
}

.parra {
    font-size: 30px;
    color: #018E97;
    width: 800px;
}

#tableBody{
    font-size: 25px;
}
.ws{
    background-color: #018E97;
}

.fond {
    background-size: cover;
    font-size: 40px;
    margin-left: 5%;
    margin-right: 10%;
}

.form-control {
    border-color: black;
    width: 55%;
}

.btn {
    padding: 8px 20px 10px;
    border: #018E97;
    background-color: #018E97;
    color: #FFFFFF;
}
.container1{
    background-color: #018E97;
    border-radius: 10px;
    padding: 40px 10px;
}
.error {
    color: #018E97;
    font-size: 14px;
    margin-top: 10px;
  }
.btn:hover {
    background-color: yellow;
    color: black;
    border-color: black;
}

.btn-anular {
    font-size: 20px;
    padding: 8px 20px 10px;
    background-color: red;
    color: black;
    border-radius: 10px;

}
.btn-anular:hover{
    background-color: yellow;
}


/*FOOTER */
.fooc .colfoter {
    background-color: #018E97;
    color: white;
}

.txtfo{
    color: white;
}
