
body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.enc{
    font-size: 20px;
    height: auto    ;
    text-decoration: none;
    margin-left: 190px;
    margin-right: 40px;
    color: black;
}
.enc:hover{
    color:#018E97;
}
.mens{
    color: black;
    padding-top: 20px;
}
.lbl_rut{
    color: #018E97;
    left: 5%;
}
.parra{
    font-size: 30px;
    color: #018E97;
    width: 800px;
}
.paciente{
    background-color: #018E97;
    color: white;
    width: 500px;
}
.fondo{
    height: auto;
    width: 100%;
    padding: 50px;
    margin-top: 50px;
    background-color: #018E97;
}
.fot{
    background-image: url(../img/medicina_humana.jpg);
    max-width: 100%;
    height: auto;
    margin-top: 100px;
    width: 100%;
}
section {
    height: auto;
    background-color: white; 
    width: 70%;
    margin-top: 400px; 
    margin-left: 10%;
    margin-right: 10%; 
    position: absolute;
    top: 0;
    left: 10%; 
    right: 10%;
  }
.fond{
    background-position: center;
    background-size: cover;
    font-size: 40px;
    background-color: #FFFFFF;
    margin-left: 5%;
    margin-right: 10%;
}
.btn{
    border: #018E97;
    position: relative;
    top: -100px;
    margin-top: -40px;
    margin-left: 500px;
    background-color: #018E97;
    color: #FFFFFF;
}
.btn:hover{
    background-color:yellow;
    color:black;
    border-color: black;
}
.btn_anular{
    font-size: 20px;
    padding: 8px 20px 10px;
    position: relative;
    background-color: red;
    color: black;
    right: 10px;
    border-radius: 10px;
    top:-30px;
}

.container {
    position: relative;
    background-color:#018E97;
    padding-top: 3%;
    color: #FFFFFF;
  }
.container-fluid{
    position: relative;
    background-color:#018E97;
    padding: 20px; 
    display: inline-block;
}

.foott .container-fluid .row .col {
    background-color: #018E97;
    margin-top: 100px;
    color: white;
    padding: 50px;
}

.txtfot{
    color: white;
}
