

.fondo-img{
    background-image: url(../img/mision-y-vision-web-1400x400.jpg);
    background-position: center;
    background-size: cover; /*ajusta el tamaño de la imagen al cuadrado*/
    width: 100%;
}

.fondo-color{
    background-color: #018E97;
    
}


.fooc .colfoter {
    background-color: #018E97;
    color: white;
}

.txtfo{
    color: white;
}
