.img-fondo{
    background-image: url(../img/fondo.png);
    background-position: center;
    background-size: cover;
    padding: 150px;
    width: 100%;
}

.seleccion{
    background-color: #018E97;
    color: white;
    position: relative;
    top: 8rem;
    text-align: center;
    font-size: 20px;
    width: 26rem;
    height: 20rem;
    margin-left: 20rem;    
    display: flexbox;
    margin: auto;
}
.cora{
    position: relative;
    right: 175px;
}
.cli{
    position: relative;
    top: -40px;
}

