html{
    font-family: "Concert One", sans-serif;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    padding: 6px 10%;
}
.menu img{
    height: 50px;
    margin-top: 36px;
    margin-left: -100px;
}
.menu-inicio{
    text-decoration: none;
    color: black;
    margin-top: 30px;
    margin-right: -105px;
    
}
.img_01{
    width:1500px;
    margin-left: 150px;
    margin-top: 90px;
}
.texto h1{
    position: absolute;
    top: 150px;
    left: 1185px;
    font-size: 250%;
}