nav{
    background: #00ACC1  ;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
     
}
.nav-contacto{

    display: inline-block;
    background: white;
    padding: 15px;
    color: #00ACC1;
    text-decoration: none;
    
}
