header{
    background: #00ACC1  ;
    padding: 10px;
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    justify-content: flex-end;
     
}
#imagen{
    height: 75px;
    margin-right:auto;
    margin-left: 10px;
}
.header-contacto{

    display: inline-block;
    background: white;
    border-radius: 10px;
    padding: 10px;
    color: #00ACC1;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 15px;
}
.header-contacto:hover{
    background: #BDC3C7 ;
    color: white;
}
